{% extends 'base.html.twig' %}

{% block core %}
    <div class="row marketing">
        <div class="col-lg-6">
            <h3>Demo features</h3>
            <h4>Fetch any twitter feed from Twitter API</h4>
            <p>You can simply fetch a user's feed by calling /fetch/{user_id}. Eg. <a href="{{ path('fetch_tweets', {name: 'noghayel'}) }}">{{ path('fetch_tweets', {name: 'noghayel'}) }}</a>. All status updates and profile data will be saved to the database.</p>

            <h4>Style colors by Twitter API</h4>
            <p>The fetched social profile data will be used to color the page to get customized look.</p>

            <h4>Interact with Twitter via connect</h4>
            <p>Use the links below the statuses to interact with Twitter by requesting app authentication. Supported operations are:
            <ul>
                <li><strong>Retweet</strong> Share tweet with followers</li>
                <li><strong>Reply</strong> Reply to the author of the tweet</li>
                <li><strong>Favorite</strong> Add tweet to your favorites</li>
            </ul></p>
        </div>
        <div class="col-lg-6">
            <h3>Tech features</h3>
            <h4>Symfony 2.7.7</h4>
            <h4>Doctrine 3.5.1</h4>
            <h4>Composer</h4>
            <h4>Abraham TwitterOAuth 0.6.2</h4>
            <h4>Twig 1.23.1</h4>
            <h4>Bower</h4>
            <h4>Bootstrap 3.3.6</h4>
            <h4>Available on github</h4>
            <p>Public repository at <a href="https://github.com/auxiliaire/feed_conductor" target="_blank">feed_conductor</a>.</p>
        </div>
    </div>
{% endblock %}